@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  @apply bg-slate-200 dark:bg-slate-900;
}

.fixed-content{
  position: fixed;
  color: blue ;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5rem;
  }
}

* {
  box-sizing: border-box;
}
